{{> header}}
{{> navbar}}
  <h1 style="color: rgb(0, 250, 196);" ><i><b>Pintores Famosos</b></i></h1>
   <p>Leonardo Da Vinci</p>
   <p>Miguel Ángel</p>
   <p>Frida Kahlo</p>
   <p>Kim Hong Do</p>
{{> footer}}